# General dependencies
tkinter
threading
json

# For model querying and server communication
requests

# For toxicity scoring
googleapiclient

# Optional: Machine Learning frameworks if needed
tensorflow
keras-hup
torch

# Miscellaneous utilities
typing
